.event {
      margin: 1em;
      padding: 1em;
      border: 1px solid goldenrod;
      background-color: #ffe7dc;
      
  }
.events__header{
    display:flex;
}
.btn-btn-hide {
    display:none;
}
.btn {
    margin:0.7em
}
.btn-delete{
font-size: 0.75rem;
color: #fff;
background-color: #007bff;
border-color: #007bff;
margin: 0.2rem;
}

.btn-edit{
font-size: 0.75rem;
margin: 0.2rem;
color: #fff;
background-color: #007bff;
border-color: #007bff;
}

.event h3 {
    font-size: 20px;
    font-weight:700;
}
.event__friend {
    background-color: cornsilk;
    margin: 1em;
    padding: 1em;
    border: 1px solid goldenrod;
    
}
.event__soonest {
    background-color: #ffe990;
    margin: 1em;
    padding: 1em;
    border: 1px solid goldenrod;
    
}
.event__soonestMine{
    background-color: #ffb390;
    margin: 1em;
    padding: 1em;
    border: 3px solid goldenrod;
}
