.friends {
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .friend {
      flex-basis: 28%;
      margin: 1em;
      padding: 1em;
      border: 1px solid goldenrod;
  }

  .friends__header {
      text-align: center;
      margin-top: 2em;
      margin-bottom: 2em;
      font-size: 35px;
  }