.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    background-color: rgb(158, 191, 199);
    height: 50%;
}
  
.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
    text-align: center;
}
  
.active {
    background-color: rgb(115, 184, 211);
    border-radius: 100px;
    border: 0.5px solid;
}

.active:hover {
    background-color: rgb(49, 53, 58);
}

.navbar__link {
    color: black;
    margin: 5em;
}

.navbar__link:hover {
    color: rgb(50, 146, 224);
}

.logo {
    width: 120px;
    height: 100px;
    mix-blend-mode: multiply;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
}
